# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.melos_workspace/
pubspec.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# macOS related
.DS_Store

# Xcode related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/DerivedData/
ios/.symlinks/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/ephemeral/
Pods/
xcuserdata/

# Android related
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/local.properties
android/.cxx/

# Misc
*.log*.o
